
 td{
    border-style: solid;
    width: 70px;
    height: 70px;

}
table{
    border-collapse: collapse;
}

tr{
shape-margin: 300px;
}
.square{
    background-color: white
}
.square:hover{
    background-color: grey
}


.shipHit{
    background-color: red;

}




.miss {
background-color: green;
}
